# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\慕课源码\imooc-mall\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
